/* Button: Global */
/*----------------------
  INTERACTION
----------------------*/
/* Hide container based on presence of link */
.btn--interaction a[href="#"] {
  display: none;
}

.btn--interaction a[href="#"] ~ button {
  display: block;
}

.wf-design-mode .btn--interaction {
  pointer-events: none;
}

/*----------------------
  CLEAR WF STYLES
----------------------*/
button,
a.w-button {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: block;
  text-decoration: none;
  color: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Button */
/*----------------------
  SIZE
----------------------*/
/* Large */
[data-btn-size="Large"] {
  font-size: var(--_typography---size--large);
  width: 3rem;
  height: 3rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

[data-btn-size="Large"] .btn--content {
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
}

[data-btn-size="Large"] .icon--svg.is--button {
  width: 1.5rem;
  height: 1.5rem;
}

/* Base */
[data-btn-size="Base"] {
  font-size: var(--_typography---size--base);
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

[data-btn-size="Base"] .btn--content {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

[data-btn-size="Base"] .icon--svg.is--button {
  width: 1.25rem;
  height: 1.25rem;
}

/* Dynamic */
[data-btn-size="Dynamic"] {
  font-size: var(--_typography---size--base);
  width: 2.5rem;
  height: 2.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

[data-btn-size="Dynamic"] .btn--content {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

[data-btn-size="Dynamic"] .icon--svg.is--button {
  width: 1.25rem;
  height: 1.25rem;
}

@media screen and (max-width: 991px) {
  [data-btn-size="Dynamic"] {
    font-size: var(--_typography---size--large);
    width: 3rem;
    height: 3rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  [data-btn-size="Dynamic"] .btn--content {
    grid-column-gap: 0.75rem;
    grid-row-gap: 0.75rem;
  }

  [data-btn-size="Dynamic"] .icon--svg.is--button {
    width: 1.5rem;
    height: 1.5rem;
  }
}

/*----------------------
  VARIANT
----------------------*/
/* Main */
[data-btn-variant="Main"] {
  width: auto;
}

/* Icon */
[data-btn-variant="Icon"] .btn--text,
[data-btn-variant="Icon"] .btn--text-aria,
[data-btn-variant="Icon"] .btn--icon.is--secondary {
  display: none;
}

/*----------------------
  ALIGNMENT
----------------------*/
/* Default */
[data-btn-align="Center"] .btn--content {
  justify-content: center;
}

/* Space Between */
[data-btn-align="Space Between"] .btn--content {
  justify-content: space-between;
}

/*----------------------
  TYPE
----------------------*/
/* Primary | Full
----------------------*/
/* Enabled */
[data-btn-type="Primary-Full"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-shades---primary--base);
  border: 0;
}

/* Hover  */
[data-btn-type="Primary-Full"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-shades---primary--darker);
  border: 0;
}

/* Pressed  */
[data-btn-type="Primary-Full"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-neutral--black);
  border: 0;
}

/* Focused */
[data-btn-type="Primary-Full"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
}

/* Focused (Keyboard) */
[data-btn-type="Primary-Full"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Primary | Ghost (Light)
----------------------*/
/* Enabled */
[data-btn-type="Primary-Ghost-Light"] {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-shades---primary--base);
}

/* Hover  */
[data-btn-type="Primary-Ghost-Light"]:hover {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Pressed  */
[data-btn-type="Primary-Ghost-Light"]:active {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-tokens---border-neutral--black);
}

/* Focused */
[data-btn-type="Primary-Ghost-Light"]:focus {
  color: var(--_color-tokens---content-neutral--black);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="Primary-Ghost-Light"]:focus-visible {
  color: var(--_color-tokens---content-neutral--black);
  border: 2px solid var(--_color-shades---primary--darkest);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Primary | Ghost (Dark)
----------------------*/
/* Enabled */
[data-btn-type="Primary-Ghost-Dark"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.25);
  border: 2px solid var(--_color-shades---primary--base);
}

/* Hover  */
[data-btn-type="Primary-Ghost-Dark"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.25);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Pressed  */
[data-btn-type="Primary-Ghost-Dark"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.25);
  border: 2px solid var(--_color-tokens---border-neutral--black);
}

/* Focused */
[data-btn-type="Primary-Ghost-Dark"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="Primary-Ghost-Dark"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid var(--_color-shades---primary--darkest);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Secondary | Full
----------------------*/
/* Enabled */
[data-btn-type="Secondary-Full"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--base);
  border: 0;
}

/* Hover  */
[data-btn-type="Secondary-Full"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--darkest);
  border: 0;
}

/* Pressed  */
[data-btn-type="Secondary-Full"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-neutral--black);
  border: 0;
}

/* Focused */
[data-btn-type="Secondary-Full"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
}

/* Focused (Keyboard) */
[data-btn-type="Secondary-Full"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Secondary | Ghost
----------------------*/
/* Enabled */
[data-btn-type="Secondary-Ghost"] {
  color: var(--_color-tokens---content-brand--base);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-tokens---border-neutral--dark);
}

/* Hover  */
[data-btn-type="Secondary-Ghost"]:hover {
  color: var(--_color-tokens---content-brand--darkest);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-tokens---border-brand--darkest);
}

/* Pressed  */
[data-btn-type="Secondary-Ghost"]:active {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-tokens---border-neutral--black);
}

/* Focused */
[data-btn-type="Secondary-Ghost"]:focus {
  color: var(--_color-tokens---content-brand--base);
  border: 2px solid var(--_color-shades---secondary--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="Secondary-Ghost"]:focus-visible {
  color: var(--_color-tokens---content-brand--base);
  border: 2px solid var(--_color-tokens---border-neutral--dark);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Secondary | Transparent
----------------------*/
/* Enabled */
[data-btn-type="Secondary-Transparent"] {
  color: var(--_color-tokens---content-brand--base);
  background-color: transparent;
  border: 2px solid transparent;
}

/* Hover  */
[data-btn-type="Secondary-Transparent"]:hover {
  color: var(--_color-tokens---content-brand--base);
  background-color: transparent;
  border: 2px solid var(--_color-tokens---border-neutral--dark);
}

/* Pressed  */
[data-btn-type="Secondary-Transparent"]:active {
  color: var(--_color-tokens---content-neutral--black);
  background-color: transparent;
  border: 2px solid var(--_color-tokens---border-neutral--black);
}

/* Focused */
[data-btn-type="Secondary-Transparent"]:focus {
  color: var(--_color-tokens---content-brand--base);
  border: 2px solid transparent;
}

/* Focused (Keyboard) */
[data-btn-type="Secondary-Transparent"]:focus-visible {
  color: var(--_color-tokens---content-brand--base);
  border: 2px solid transparent;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Tertiary | Transparent
----------------------*/
/* Enabled */
[data-btn-type="Tertiary-Transparent"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: transparent;
  border: 2px solid transparent;
}

/* Hover  */
[data-btn-type="Tertiary-Transparent"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.1);
  border: 2px solid transparent;
}

/* Pressed  */
[data-btn-type="Tertiary-Transparent"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.3);
  border: 2px solid transparent;
}

/* Focused */
[data-btn-type="Tertiary-Transparent"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid transparent;
}

/* Focused (Keyboard) */
[data-btn-type="Tertiary-Transparent"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid transparent;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Warning | Full
----------------------*/
/* Enabled */
[data-btn-type="Warning-Full"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-shades---warning--dark);
  border: 0;
}

/* Hover  */
[data-btn-type="Warning-Full"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-shades---warning--darkest);
  border: 0;
}

/* Pressed  */
[data-btn-type="Warning-Full"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-neutral--black);
  border: 0;
}

/* Focused */
[data-btn-type="Warning-Full"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
}

/* Focused (Keyboard) */
[data-btn-type="Warning-Full"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Warning | Ghost
----------------------*/
/* Enabled */
[data-btn-type="Warning-Ghost"] {
  color: var(--_color-shades---warning--dark);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-shades---warning--dark);
}

/* Hover  */
[data-btn-type="Warning-Ghost"]:hover {
  color: var(--_color-shades---warning--darkest);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-shades---warning--darkest);
}

/* Pressed  */
[data-btn-type="Warning-Ghost"]:active {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-tokens---border-neutral--black);
}

/* Focused */
[data-btn-type="Warning-Ghost"]:focus {
  color: var(--_color-shades---warning--dark);
  border: 2px solid var(--_color-shades---warning--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="Warning-Ghost"]:focus-visible {
  color: var(--_color-shades---warning--dark);
  border: 2px solid var(--_color-shades---warning--darkest);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Warning | Transparent
----------------------*/
/* Enabled */
[data-btn-type="Warning-Transparent"] {
  color: var(--_color-shades---warning--dark);
  background-color: transparent;
  border: 2px solid transparent;
}

/* Hover  */
[data-btn-type="Warning-Transparent"]:hover {
  color: var(--_color-shades---warning--dark);
  background-color: var(--_color-shades---warning--lightest);
  border: 2px solid transparent;
}

/* Pressed  */
[data-btn-type="Warning-Transparent"]:active {
  color: var(--_color-shades---warning--dark);
  background-color: var(--_color-shades---warning--light);
  border: 2px solid transparent;
}

/* Focused */
[data-btn-type="Warning-Transparent"]:focus {
  color: var(--_color-shades---warning--dark);
  border: 2px solid transparent;
}

/* Focused (Keyboard) */
[data-btn-type="Warning-Transparent"]:focus-visible {
  color: var(--_color-shades---warning--dark);
  border: 2px solid transparent;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Button: CTA */
/*----------------------
  TYPES
----------------------*/
/* Global: Icon
----------------------*/
/* Enabled */
[data-btn-type="CTA-Icon"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-shades---primary--base);
  border: 0;
}

/* Focused */
[data-btn-type="CTA-Icon"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 0;
}

/* Focused (Keyboard) */
[data-btn-type="CTA-Icon"]:focus-visible {
  border: 0;
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Background: Light
----------------------*/
/* Enabled */
[data-btn-type="CTA-Light"] {
  color: var(--_color-tokens---content-neutral--black);
  background-color: var(--_color-tokens---bg-neutral--white);
  border: 2px solid var(--_color-shades---primary--base);
}

/* Focused */
[data-btn-type="CTA-Light"]:focus {
  color: var(--_color-tokens---content-neutral--black);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="CTA-Light"]:focus-visible {
  color: var(--_color-tokens---content-neutral--black);
  border: 2px solid var(--_color-shades---primary--darkest);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Background: Dark
----------------------*/
/* Enabled */
[data-btn-type="CTA-Dark"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: rgba(10, 10, 10, 0.25);
  border: 2px solid var(--_color-shades---primary--base);
}

/* Focused */
[data-btn-type="CTA-Dark"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid var(--_color-shades---primary--darkest);
}

/* Focused (Keyboard) */
[data-btn-type="CTA-Dark"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  border: 2px solid var(--_color-shades---primary--darkest);
  outline: 4px solid var(--_color-tokens---state--focused);
}

/* Button: Navigation */
/*----------------------
  TYPES
----------------------*/
/* Enabled */
[data-btn-type="Navigation"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--base);
  border: 0;
  font-weight: 400;
}

/* Hover  */
[data-btn-type="Navigation"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--dark);
  border: 0;
}

/* Pressed  */
[data-btn-type="Navigation"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--darkest);
  border: 0;
}

/* Focused */
[data-btn-type="Navigation"]:focus {
  border: 0;
  color: var(--_color-tokens---content-neutral--white);
}

/* Focused (Keyboard) */
[data-btn-type="Navigation"]:focus-visible {
  border: 0;
  color: var(--_color-tokens---content-neutral--white);
  outline: 4px solid var(--_color-tokens---state--focused);
}
