/* Button: Navigation */
/*----------------------
  TYPE
----------------------*/
/* Enabled */
[data-btn-type="Navigation"] {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--base);
  border: 0;
  font-weight: 400;
}

/* Hover  */
[data-btn-type="Navigation"]:hover {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--dark);
  border: 0;
}

/* Pressed  */
[data-btn-type="Navigation"]:active {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--darkest);
  border: 0;
}

/* Focused */
[data-btn-type="Navigation"]:focus {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--dark);
  border: 0;
}

/* Focused (Keyboard) */
[data-btn-type="Navigation"]:focus-visible {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--dark);
  border: 0;
  outline: 4px solid var(--_color-tokens---state--focused);
}
