/* Link: Product */
/*----------------------
  BASE
----------------------*/
/* Check Webflow default component styling */

/*----------------------
  SMALL
----------------------*/
[data-product-size="Small"] .link--product-content {
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 35% 1fr;
  grid-auto-columns: 1fr;
  height: auto;
  padding: 1rem;
  display: grid;
  border: 1px solid var(--_color-tokens---border-neutral--dark);
}

[data-product-size="Small"] .link--product-image-w {
  justify-content: center;
  align-items: center;
  height: 100%;
}

[data-product-size="Small"] .link--product-image {
  aspect-ratio: auto;
  height: auto;
  max-height: 7.5rem;
}

[data-product-size="Small"] .link--product-heading {
  font-size: var(--_typography---size--large);
}
