/* Caption */
/*----------------------
  SIZE
----------------------*/
/* Large */
[data-caption-size="Large"] .caption--content {
  font-size: var(--_typography---size--large);
}

/* Base */
[data-caption-size="Base"] .caption--content {
  font-size: var(--_typography---size--base);
}

/* Small */
[data-caption-size="Small"] .caption--content {
  font-size: var(--_typography---size--small);
}

/* Contact */
[data-caption-size="Contact"] .caption--content {
  font-size: var(--_typography---size--small);
}

@media screen and (max-width: 991px) {
  [data-caption-size="Contact"] .caption--content {
    font-size: var(--_typography---size--base);
  }
}

/*----------------------
  COLOR
----------------------*/
/* Dark */
[data-caption-type="Dark"] .caption--content {
  color: var(--_color-tokens---content-brand--base);
}

[data-caption-type="Dark"] .caption--divider {
  background-color: var(--_color-tokens---border-brand--base);
}

/* Light */
[data-caption-type="Light"] .caption--content {
  color: var(--_color-tokens---content-neutral--white);
}

[data-caption-type="Light"] .caption--divider {
  background-color: var(--_color-tokens---border-neutral--white);
}

/* Dynamic */
@media screen and (min-width: 992px) {
  [data-caption-type="Dynamic"] .caption--content {
    color: var(--_color-tokens---content-brand--base);
  }

  [data-caption-type="Dynamic"] .caption--divider {
    background-color: var(--_color-tokens---border-brand--base);
  }
}

@media screen and (max-width: 991px) {
  [data-caption-type="Dynamic"] .caption--content {
    color: var(--_color-tokens---content-neutral--white);
  }

  [data-caption-type="Dynamic"] .caption--divider {
    background-color: var(--_color-tokens---border-neutral--white);
  }
}

/*----------------------
  WEIGHT
----------------------*/
/* Regular */
[data-caption-weight="Regular"] .caption--content {
  font-weight: 400;
}

/* Medium */
[data-caption-weight="Medium"] .caption--content {
  font-weight: 500;
}

/* Semi Bold */
[data-caption-weight="Semi Bold"] .caption--content {
  font-weight: 600;
}

/*----------------------
  SPACING
----------------------*/
/* Base */
[data-caption-spacing="Base"] .caption--content {
  padding-bottom: 1.25rem;
}
