/* Structure */
:root {
  /* Page */
  --_structure---page-padding--desktop: 5vw; /* Desktop/default horizontal padding */
  --_structure---page-padding--tablet: 4rem; /* Tablet horizontal padding */
  --_structure---page-padding--mobile-large: 3rem; /* Mobile horizontal padding */
  --_structure---page-padding--mobile: 2rem; /* Mobile horizontal padding */
  --_structure---max-width--main: 100rem; /* Maximum width of the page */

  /* Containers */
  /* MAIN */
  --_structure---container--main: calc(
    min(100%, var(--_structure---max-width--main)) -
      var(--_structure---page-padding--desktop) * 2
  );

  /* FULL WIDTH */
  --_structure---container--full-width: calc(
    100% - var(--_structure---page-padding--desktop) * 2
  );
}

/* Tablet breakpoint */
@media screen and (max-width: 991px) {
  :root {
    --_structure---page-padding--desktop: var(
      --_structure---page-padding--tablet
    );
    --_structure---container--main: calc(
      100% - var(--_structure---page-padding--desktop) * 2
    );
    --_structure---container--full-width: 100%;
  }
}

/* Mobile large breakpoint */
@media screen and (max-width: 767px) {
  :root {
    --_structure---page-padding--desktop: var(
      --_structure---page-padding--mobile-large
    );
    --_structure---container--main: calc(
      100% - var(--_structure---page-padding--desktop) * 2
    );
    --_structure---container--full-width: 100%;
  }
}

/* Mobile small breakpoint */
@media screen and (max-width: 479px) {
  :root {
    --_structure---page-padding--desktop: var(
      --_structure---page-padding--mobile
    );
    --_structure---container--main: calc(
      100% - var(--_structure---page-padding--desktop) * 2
    );
    --_structure---container--full-width: 100%;
  }
}

/*----------------------
  MARGIN TRIM
----------------------*/
/* Remove margin from the first and last child */
.u--margin-trim > :first-child,
.u--margin-trim
  > :not(:not(.w-condition-invisible) ~ :not(.w-condition-invisible)) {
  margin-top: 0;
}
.u--margin-trim > :last-child,
.u--margin-trim > :not(:has(~ :not(.w-condition-invisible))) {
  margin-bottom: 0;
}

/*----------------------
  PADDING
----------------------*/

/* Base (Desktop) */
[padding-left="0.5"] {
  padding-left: 0.5rem !important;
}
[padding-left="1"] {
  padding-left: 1rem !important;
}
[padding-left="1.5"] {
  padding-left: 1.5rem !important;
}
[padding-left="2"] {
  padding-left: 2rem !important;
}
[padding-left="2.5"] {
  padding-left: 2.5rem !important;
}
[padding-left="3"] {
  padding-left: 3rem !important;
}
[padding-left="3.5"] {
  padding-left: 3.5rem !important;
}
[padding-left="4"] {
  padding-left: 4rem !important;
}
[padding-left="4.5"] {
  padding-left: 4.5rem !important;
}
[padding-left="5"] {
  padding-left: 5rem !important;
}
[padding-left="5.5"] {
  padding-left: 5.5rem !important;
}
[padding-left="6"] {
  padding-left: 6rem !important;
}
[padding-left="6.5"] {
  padding-left: 6.5rem !important;
}
[padding-left="7"] {
  padding-left: 7rem !important;
}
[padding-left="7.5"] {
  padding-left: 7.5rem !important;
}
[padding-left="8"] {
  padding-left: 8rem !important;
}

[padding-top="0.5"] {
  padding-top: 0.5rem !important;
}
[padding-top="1"] {
  padding-top: 1rem !important;
}
[padding-top="1.5"] {
  padding-top: 1.5rem !important;
}
[padding-top="2"] {
  padding-top: 2rem !important;
}
[padding-top="2.5"] {
  padding-top: 2.5rem !important;
}
[padding-top="3"] {
  padding-top: 3rem !important;
}
[padding-top="3.5"] {
  padding-top: 3.5rem !important;
}
[padding-top="4"] {
  padding-top: 4rem !important;
}
[padding-top="4.5"] {
  padding-top: 4.5rem !important;
}
[padding-top="5"] {
  padding-top: 5rem !important;
}
[padding-top="5.5"] {
  padding-top: 5.5rem !important;
}
[padding-top="6"] {
  padding-top: 6rem !important;
}
[padding-top="6.5"] {
  padding-top: 6.5rem !important;
}
[padding-top="7"] {
  padding-top: 7rem !important;
}
[padding-top="7.5"] {
  padding-top: 7.5rem !important;
}
[padding-top="8"] {
  padding-top: 8rem !important;
}

[padding-right="0.5"] {
  padding-right: 0.5rem !important;
}
[padding-right="1"] {
  padding-right: 1rem !important;
}
[padding-right="1.5"] {
  padding-right: 1.5rem !important;
}
[padding-right="2"] {
  padding-right: 2rem !important;
}
[padding-right="2.5"] {
  padding-right: 2.5rem !important;
}
[padding-right="3"] {
  padding-right: 3rem !important;
}
[padding-right="3.5"] {
  padding-right: 3.5rem !important;
}
[padding-right="4"] {
  padding-right: 4rem !important;
}
[padding-right="4.5"] {
  padding-right: 4.5rem !important;
}
[padding-right="5"] {
  padding-right: 5rem !important;
}
[padding-right="5.5"] {
  padding-right: 5.5rem !important;
}
[padding-right="6"] {
  padding-right: 6rem !important;
}
[padding-right="6.5"] {
  padding-right: 6.5rem !important;
}
[padding-right="7"] {
  padding-right: 7rem !important;
}
[padding-right="7.5"] {
  padding-right: 7.5rem !important;
}
[padding-right="8"] {
  padding-right: 8rem !important;
}

[padding-bottom="0.5"] {
  padding-bottom: 0.5rem !important;
}
[padding-bottom="1"] {
  padding-bottom: 1rem !important;
}
[padding-bottom="1.5"] {
  padding-bottom: 1.5rem !important;
}
[padding-bottom="2"] {
  padding-bottom: 2rem !important;
}
[padding-bottom="2.5"] {
  padding-bottom: 2.5rem !important;
}
[padding-bottom="3"] {
  padding-bottom: 3rem !important;
}
[padding-bottom="3.5"] {
  padding-bottom: 3.5rem !important;
}
[padding-bottom="4"] {
  padding-bottom: 4rem !important;
}
[padding-bottom="4.5"] {
  padding-bottom: 4.5rem !important;
}
[padding-bottom="5"] {
  padding-bottom: 5rem !important;
}
[padding-bottom="5.5"] {
  padding-bottom: 5.5rem !important;
}
[padding-bottom="6"] {
  padding-bottom: 6rem !important;
}
[padding-bottom="6.5"] {
  padding-bottom: 6.5rem !important;
}
[padding-bottom="7"] {
  padding-bottom: 7rem !important;
}
[padding-bottom="7.5"] {
  padding-bottom: 7.5rem !important;
}
[padding-bottom="8"] {
  padding-bottom: 8rem !important;
}

/* Tablet breakpoint */
@media screen and (max-width: 991px) {
  [padding-left--tablet="0.5"] {
    padding-left: 0.5rem !important;
  }
  [padding-left--tablet="1"] {
    padding-left: 1rem !important;
  }
  [padding-left--tablet="1.5"] {
    padding-left: 1.5rem !important;
  }
  [padding-left--tablet="2"] {
    padding-left: 2rem !important;
  }
  [padding-left--tablet="2.5"] {
    padding-left: 2.5rem !important;
  }
  [padding-left--tablet="3"] {
    padding-left: 3rem !important;
  }
  [padding-left--tablet="3.5"] {
    padding-left: 3.5rem !important;
  }
  [padding-left--tablet="4"] {
    padding-left: 4rem !important;
  }
  [padding-left--tablet="4.5"] {
    padding-left: 4.5rem !important;
  }
  [padding-left--tablet="5"] {
    padding-left: 5rem !important;
  }
  [padding-left--tablet="5.5"] {
    padding-left: 5.5rem !important;
  }
  [padding-left--tablet="6"] {
    padding-left: 6rem !important;
  }
  [padding-left--tablet="6.5"] {
    padding-left: 6.5rem !important;
  }
  [padding-left--tablet="7"] {
    padding-left: 7rem !important;
  }
  [padding-left--tablet="7.5"] {
    padding-left: 7.5rem !important;
  }
  [padding-left--tablet="8"] {
    padding-left: 8rem !important;
  }

  [padding-top--tablet="0.5"] {
    padding-top: 0.5rem !important;
  }
  [padding-top--tablet="1"] {
    padding-top: 1rem !important;
  }
  [padding-top--tablet="1.5"] {
    padding-top: 1.5rem !important;
  }
  [padding-top--tablet="2"] {
    padding-top: 2rem !important;
  }
  [padding-top--tablet="2.5"] {
    padding-top: 2.5rem !important;
  }
  [padding-top--tablet="3"] {
    padding-top: 3rem !important;
  }
  [padding-top--tablet="3.5"] {
    padding-top: 3.5rem !important;
  }
  [padding-top--tablet="4"] {
    padding-top: 4rem !important;
  }
  [padding-top--tablet="4.5"] {
    padding-top: 4.5rem !important;
  }
  [padding-top--tablet="5"] {
    padding-top: 5rem !important;
  }
  [padding-top--tablet="5.5"] {
    padding-top: 5.5rem !important;
  }
  [padding-top--tablet="6"] {
    padding-top: 6rem !important;
  }
  [padding-top--tablet="6.5"] {
    padding-top: 6.5rem !important;
  }
  [padding-top--tablet="7"] {
    padding-top: 7rem !important;
  }
  [padding-top--tablet="7.5"] {
    padding-top: 7.5rem !important;
  }
  [padding-top--tablet="8"] {
    padding-top: 8rem !important;
  }

  [padding-right--tablet="0.5"] {
    padding-right: 0.5rem !important;
  }
  [padding-right--tablet="1"] {
    padding-right: 1rem !important;
  }
  [padding-right--tablet="1.5"] {
    padding-right: 1.5rem !important;
  }
  [padding-right--tablet="2"] {
    padding-right: 2rem !important;
  }
  [padding-right--tablet="2.5"] {
    padding-right: 2.5rem !important;
  }
  [padding-right--tablet="3"] {
    padding-right: 3rem !important;
  }
  [padding-right--tablet="3.5"] {
    padding-right: 3.5rem !important;
  }
  [padding-right--tablet="4"] {
    padding-right: 4rem !important;
  }
  [padding-right--tablet="4.5"] {
    padding-right: 4.5rem !important;
  }
  [padding-right--tablet="5"] {
    padding-right: 5rem !important;
  }
  [padding-right--tablet="5.5"] {
    padding-right: 5.5rem !important;
  }
  [padding-right--tablet="6"] {
    padding-right: 6rem !important;
  }
  [padding-right--tablet="6.5"] {
    padding-right: 6.5rem !important;
  }
  [padding-right--tablet="7"] {
    padding-right: 7rem !important;
  }
  [padding-right--tablet="7.5"] {
    padding-right: 7.5rem !important;
  }
  [padding-right--tablet="8"] {
    padding-right: 8rem !important;
  }

  [padding-bottom--tablet="0.5"] {
    padding-bottom: 0.5rem !important;
  }
  [padding-bottom--tablet="1"] {
    padding-bottom: 1rem !important;
  }
  [padding-bottom--tablet="1.5"] {
    padding-bottom: 1.5rem !important;
  }
  [padding-bottom--tablet="2"] {
    padding-bottom: 2rem !important;
  }
  [padding-bottom--tablet="2.5"] {
    padding-bottom: 2.5rem !important;
  }
  [padding-bottom--tablet="3"] {
    padding-bottom: 3rem !important;
  }
  [padding-bottom--tablet="3.5"] {
    padding-bottom: 3.5rem !important;
  }
  [padding-bottom--tablet="4"] {
    padding-bottom: 4rem !important;
  }
  [padding-bottom--tablet="4.5"] {
    padding-bottom: 4.5rem !important;
  }
  [padding-bottom--tablet="5"] {
    padding-bottom: 5rem !important;
  }
  [padding-bottom--tablet="5.5"] {
    padding-bottom: 5.5rem !important;
  }
  [padding-bottom--tablet="6"] {
    padding-bottom: 6rem !important;
  }
  [padding-bottom--tablet="6.5"] {
    padding-bottom: 6.5rem !important;
  }
  [padding-bottom--tablet="7"] {
    padding-bottom: 7rem !important;
  }
  [padding-bottom--tablet="7.5"] {
    padding-bottom: 7.5rem !important;
  }
  [padding-bottom--tablet="8"] {
    padding-bottom: 8rem !important;
  }
}

/* Mobile large breakpoint */
@media screen and (max-width: 767px) {
  [padding-left--landscape="0.5"] {
    padding-left: 0.5rem !important;
  }
  [padding-left--landscape="1"] {
    padding-left: 1rem !important;
  }
  [padding-left--landscape="1.5"] {
    padding-left: 1.5rem !important;
  }
  [padding-left--landscape="2"] {
    padding-left: 2rem !important;
  }
  [padding-left--landscape="2.5"] {
    padding-left: 2.5rem !important;
  }
  [padding-left--landscape="3"] {
    padding-left: 3rem !important;
  }
  [padding-left--landscape="3.5"] {
    padding-left: 3.5rem !important;
  }
  [padding-left--landscape="4"] {
    padding-left: 4rem !important;
  }
  [padding-left--landscape="4.5"] {
    padding-left: 4.5rem !important;
  }
  [padding-left--landscape="5"] {
    padding-left: 5rem !important;
  }
  [padding-left--landscape="5.5"] {
    padding-left: 5.5rem !important;
  }
  [padding-left--landscape="6"] {
    padding-left: 6rem !important;
  }
  [padding-left--landscape="6.5"] {
    padding-left: 6.5rem !important;
  }
  [padding-left--landscape="7"] {
    padding-left: 7rem !important;
  }
  [padding-left--landscape="7.5"] {
    padding-left: 7.5rem !important;
  }
  [padding-left--landscape="8"] {
    padding-left: 8rem !important;
  }

  [padding-top--landscape="0.5"] {
    padding-top: 0.5rem !important;
  }
  [padding-top--landscape="1"] {
    padding-top: 1rem !important;
  }
  [padding-top--landscape="1.5"] {
    padding-top: 1.5rem !important;
  }
  [padding-top--landscape="2"] {
    padding-top: 2rem !important;
  }
  [padding-top--landscape="2.5"] {
    padding-top: 2.5rem !important;
  }
  [padding-top--landscape="3"] {
    padding-top: 3rem !important;
  }
  [padding-top--landscape="3.5"] {
    padding-top: 3.5rem !important;
  }
  [padding-top--landscape="4"] {
    padding-top: 4rem !important;
  }
  [padding-top--landscape="4.5"] {
    padding-top: 4.5rem !important;
  }
  [padding-top--landscape="5"] {
    padding-top: 5rem !important;
  }
  [padding-top--landscape="5.5"] {
    padding-top: 5.5rem !important;
  }
  [padding-top--landscape="6"] {
    padding-top: 6rem !important;
  }
  [padding-top--landscape="6.5"] {
    padding-top: 6.5rem !important;
  }
  [padding-top--landscape="7"] {
    padding-top: 7rem !important;
  }
  [padding-top--landscape="7.5"] {
    padding-top: 7.5rem !important;
  }
  [padding-top--landscape="8"] {
    padding-top: 8rem !important;
  }

  [padding-right--landscape="0.5"] {
    padding-right: 0.5rem !important;
  }
  [padding-right--landscape="1"] {
    padding-right: 1rem !important;
  }
  [padding-right--landscape="1.5"] {
    padding-right: 1.5rem !important;
  }
  [padding-right--landscape="2"] {
    padding-right: 2rem !important;
  }
  [padding-right--landscape="2.5"] {
    padding-right: 2.5rem !important;
  }
  [padding-right--landscape="3"] {
    padding-right: 3rem !important;
  }
  [padding-right--landscape="3.5"] {
    padding-right: 3.5rem !important;
  }
  [padding-right--landscape="4"] {
    padding-right: 4rem !important;
  }
  [padding-right--landscape="4.5"] {
    padding-right: 4.5rem !important;
  }
  [padding-right--landscape="5"] {
    padding-right: 5rem !important;
  }
  [padding-right--landscape="5.5"] {
    padding-right: 5.5rem !important;
  }
  [padding-right--landscape="6"] {
    padding-right: 6rem !important;
  }
  [padding-right--landscape="6.5"] {
    padding-right: 6.5rem !important;
  }
  [padding-right--landscape="7"] {
    padding-right: 7rem !important;
  }
  [padding-right--landscape="7.5"] {
    padding-right: 7.5rem !important;
  }
  [padding-right--landscape="8"] {
    padding-right: 8rem !important;
  }

  [padding-bottom--landscape="0.5"] {
    padding-bottom: 0.5rem !important;
  }
  [padding-bottom--landscape="1"] {
    padding-bottom: 1rem !important;
  }
  [padding-bottom--landscape="1.5"] {
    padding-bottom: 1.5rem !important;
  }
  [padding-bottom--landscape="2"] {
    padding-bottom: 2rem !important;
  }
  [padding-bottom--landscape="2.5"] {
    padding-bottom: 2.5rem !important;
  }
  [padding-bottom--landscape="3"] {
    padding-bottom: 3rem !important;
  }
  [padding-bottom--landscape="3.5"] {
    padding-bottom: 3.5rem !important;
  }
  [padding-bottom--landscape="4"] {
    padding-bottom: 4rem !important;
  }
  [padding-bottom--landscape="4.5"] {
    padding-bottom: 4.5rem !important;
  }
  [padding-bottom--landscape="5"] {
    padding-bottom: 5rem !important;
  }
  [padding-bottom--landscape="5.5"] {
    padding-bottom: 5.5rem !important;
  }
  [padding-bottom--landscape="6"] {
    padding-bottom: 6rem !important;
  }
  [padding-bottom--landscape="6.5"] {
    padding-bottom: 6.5rem !important;
  }
  [padding-bottom--landscape="7"] {
    padding-bottom: 7rem !important;
  }
  [padding-bottom--landscape="7.5"] {
    padding-bottom: 7.5rem !important;
  }
  [padding-bottom--landscape="8"] {
    padding-bottom: 8rem !important;
  }
}

/* Mobile small breakpoint */
@media screen and (max-width: 479px) {
  [padding-left--portrait="0.5"] {
    padding-left: 0.5rem !important;
  }
  [padding-left--portrait="1"] {
    padding-left: 1rem !important;
  }
  [padding-left--portrait="1.5"] {
    padding-left: 1.5rem !important;
  }
  [padding-left--portrait="2"] {
    padding-left: 2rem !important;
  }
  [padding-left--portrait="2.5"] {
    padding-left: 2.5rem !important;
  }
  [padding-left--portrait="3"] {
    padding-left: 3rem !important;
  }
  [padding-left--portrait="3.5"] {
    padding-left: 3.5rem !important;
  }
  [padding-left--portrait="4"] {
    padding-left: 4rem !important;
  }
  [padding-left--portrait="4.5"] {
    padding-left: 4.5rem !important;
  }
  [padding-left--portrait="5"] {
    padding-left: 5rem !important;
  }
  [padding-left--portrait="5.5"] {
    padding-left: 5.5rem !important;
  }
  [padding-left--portrait="6"] {
    padding-left: 6rem !important;
  }
  [padding-left--portrait="6.5"] {
    padding-left: 6.5rem !important;
  }
  [padding-left--portrait="7"] {
    padding-left: 7rem !important;
  }
  [padding-left--portrait="7.5"] {
    padding-left: 7.5rem !important;
  }
  [padding-left--portrait="8"] {
    padding-left: 8rem !important;
  }

  [padding-top--portrait="0.5"] {
    padding-top: 0.5rem !important;
  }
  [padding-top--portrait="1"] {
    padding-top: 1rem !important;
  }
  [padding-top--portrait="1.5"] {
    padding-top: 1.5rem !important;
  }
  [padding-top--portrait="2"] {
    padding-top: 2rem !important;
  }
  [padding-top--portrait="2.5"] {
    padding-top: 2.5rem !important;
  }
  [padding-top--portrait="3"] {
    padding-top: 3rem !important;
  }
  [padding-top--portrait="3.5"] {
    padding-top: 3.5rem !important;
  }
  [padding-top--portrait="4"] {
    padding-top: 4rem !important;
  }
  [padding-top--portrait="4.5"] {
    padding-top: 4.5rem !important;
  }
  [padding-top--portrait="5"] {
    padding-top: 5rem !important;
  }
  [padding-top--portrait="5.5"] {
    padding-top: 5.5rem !important;
  }
  [padding-top--portrait="6"] {
    padding-top: 6rem !important;
  }
  [padding-top--portrait="6.5"] {
    padding-top: 6.5rem !important;
  }
  [padding-top--portrait="7"] {
    padding-top: 7rem !important;
  }
  [padding-top--portrait="7.5"] {
    padding-top: 7.5rem !important;
  }
  [padding-top--portrait="8"] {
    padding-top: 8rem !important;
  }

  [padding-right--portrait="0.5"] {
    padding-right: 0.5rem !important;
  }
  [padding-right--portrait="1"] {
    padding-right: 1rem !important;
  }
  [padding-right--portrait="1.5"] {
    padding-right: 1.5rem !important;
  }
  [padding-right--portrait="2"] {
    padding-right: 2rem !important;
  }
  [padding-right--portrait="2.5"] {
    padding-right: 2.5rem !important;
  }
  [padding-right--portrait="3"] {
    padding-right: 3rem !important;
  }
  [padding-right--portrait="3.5"] {
    padding-right: 3.5rem !important;
  }
  [padding-right--portrait="4"] {
    padding-right: 4rem !important;
  }
  [padding-right--portrait="4.5"] {
    padding-right: 4.5rem !important;
  }
  [padding-right--portrait="5"] {
    padding-right: 5rem !important;
  }
  [padding-right--portrait="5.5"] {
    padding-right: 5.5rem !important;
  }
  [padding-right--portrait="6"] {
    padding-right: 6rem !important;
  }
  [padding-right--portrait="6.5"] {
    padding-right: 6.5rem !important;
  }
  [padding-right--portrait="7"] {
    padding-right: 7rem !important;
  }
  [padding-right--portrait="7.5"] {
    padding-right: 7.5rem !important;
  }
  [padding-right--portrait="8"] {
    padding-right: 8rem !important;
  }

  [padding-bottom--portrait="0.5"] {
    padding-bottom: 0.5rem !important;
  }
  [padding-bottom--portrait="1"] {
    padding-bottom: 1rem !important;
  }
  [padding-bottom--portrait="1.5"] {
    padding-bottom: 1.5rem !important;
  }
  [padding-bottom--portrait="2"] {
    padding-bottom: 2rem !important;
  }
  [padding-bottom--portrait="2.5"] {
    padding-bottom: 2.5rem !important;
  }
  [padding-bottom--portrait="3"] {
    padding-bottom: 3rem !important;
  }
  [padding-bottom--portrait="3.5"] {
    padding-bottom: 3.5rem !important;
  }
  [padding-bottom--portrait="4"] {
    padding-bottom: 4rem !important;
  }
  [padding-bottom--portrait="4.5"] {
    padding-bottom: 4.5rem !important;
  }
  [padding-bottom--portrait="5"] {
    padding-bottom: 5rem !important;
  }
  [padding-bottom--portrait="5.5"] {
    padding-bottom: 5.5rem !important;
  }
  [padding-bottom--portrait="6"] {
    padding-bottom: 6rem !important;
  }
  [padding-bottom--portrait="6.5"] {
    padding-bottom: 6.5rem !important;
  }
  [padding-bottom--portrait="7"] {
    padding-bottom: 7rem !important;
  }
  [padding-bottom--portrait="7.5"] {
    padding-bottom: 7.5rem !important;
  }
  [padding-bottom--portrait="8"] {
    padding-bottom: 8rem !important;
  }
}

/*----------------------
  MARGIN
----------------------*/

/* Base (Desktop) */
[margin-left="0.5"] {
  margin-left: 0.5rem !important;
}
[margin-left="1"] {
  margin-left: 1rem !important;
}
[margin-left="1.5"] {
  margin-left: 1.5rem !important;
}
[margin-left="2"] {
  margin-left: 2rem !important;
}
[margin-left="2.5"] {
  margin-left: 2.5rem !important;
}
[margin-left="3"] {
  margin-left: 3rem !important;
}
[margin-left="3.5"] {
  margin-left: 3.5rem !important;
}
[margin-left="4"] {
  margin-left: 4rem !important;
}
[margin-left="4.5"] {
  margin-left: 4.5rem !important;
}
[margin-left="5"] {
  margin-left: 5rem !important;
}
[margin-left="5.5"] {
  margin-left: 5.5rem !important;
}
[margin-left="6"] {
  margin-left: 6rem !important;
}
[margin-left="6.5"] {
  margin-left: 6.5rem !important;
}
[margin-left="7"] {
  margin-left: 7rem !important;
}
[margin-left="7.5"] {
  margin-left: 7.5rem !important;
}
[margin-left="8"] {
  margin-left: 8rem !important;
}

[margin-top="0.5"] {
  margin-top: 0.5rem !important;
}
[margin-top="1"] {
  margin-top: 1rem !important;
}
[margin-top="1.5"] {
  margin-top: 1.5rem !important;
}
[margin-top="2"] {
  margin-top: 2rem !important;
}
[margin-top="2.5"] {
  margin-top: 2.5rem !important;
}
[margin-top="3"] {
  margin-top: 3rem !important;
}
[margin-top="3.5"] {
  margin-top: 3.5rem !important;
}
[margin-top="4"] {
  margin-top: 4rem !important;
}
[margin-top="4.5"] {
  margin-top: 4.5rem !important;
}
[margin-top="5"] {
  margin-top: 5rem !important;
}
[margin-top="5.5"] {
  margin-top: 5.5rem !important;
}
[margin-top="6"] {
  margin-top: 6rem !important;
}
[margin-top="6.5"] {
  margin-top: 6.5rem !important;
}
[margin-top="7"] {
  margin-top: 7rem !important;
}
[margin-top="7.5"] {
  margin-top: 7.5rem !important;
}
[margin-top="8"] {
  margin-top: 8rem !important;
}

[margin-right="0.5"] {
  margin-right: 0.5rem !important;
}
[margin-right="1"] {
  margin-right: 1rem !important;
}
[margin-right="1.5"] {
  margin-right: 1.5rem !important;
}
[margin-right="2"] {
  margin-right: 2rem !important;
}
[margin-right="2.5"] {
  margin-right: 2.5rem !important;
}
[margin-right="3"] {
  margin-right: 3rem !important;
}
[margin-right="3.5"] {
  margin-right: 3.5rem !important;
}
[margin-right="4"] {
  margin-right: 4rem !important;
}
[margin-right="4.5"] {
  margin-right: 4.5rem !important;
}
[margin-right="5"] {
  margin-right: 5rem !important;
}
[margin-right="5.5"] {
  margin-right: 5.5rem !important;
}
[margin-right="6"] {
  margin-right: 6rem !important;
}
[margin-right="6.5"] {
  margin-right: 6.5rem !important;
}
[margin-right="7"] {
  margin-right: 7rem !important;
}
[margin-right="7.5"] {
  margin-right: 7.5rem !important;
}
[margin-right="8"] {
  margin-right: 8rem !important;
}

[margin-bottom="0.5"] {
  margin-bottom: 0.5rem !important;
}
[margin-bottom="1"] {
  margin-bottom: 1rem !important;
}
[margin-bottom="1.5"] {
  margin-bottom: 1.5rem !important;
}
[margin-bottom="2"] {
  margin-bottom: 2rem !important;
}
[margin-bottom="2.5"] {
  margin-bottom: 2.5rem !important;
}
[margin-bottom="3"] {
  margin-bottom: 3rem !important;
}
[margin-bottom="3.5"] {
  margin-bottom: 3.5rem !important;
}
[margin-bottom="4"] {
  margin-bottom: 4rem !important;
}
[margin-bottom="4.5"] {
  margin-bottom: 4.5rem !important;
}
[margin-bottom="5"] {
  margin-bottom: 5rem !important;
}
[margin-bottom="5.5"] {
  margin-bottom: 5.5rem !important;
}
[margin-bottom="6"] {
  margin-bottom: 6rem !important;
}
[margin-bottom="6.5"] {
  margin-bottom: 6.5rem !important;
}
[margin-bottom="7"] {
  margin-bottom: 7rem !important;
}
[margin-bottom="7.5"] {
  margin-bottom: 7.5rem !important;
}
[margin-bottom="8"] {
  margin-bottom: 8rem !important;
}

/* Tablet breakpoint */
@media screen and (max-width: 991px) {
  [margin-left--tablet="0.5"] {
    margin-left: 0.5rem !important;
  }
  [margin-left--tablet="1"] {
    margin-left: 1rem !important;
  }
  [margin-left--tablet="1.5"] {
    margin-left: 1.5rem !important;
  }
  [margin-left--tablet="2"] {
    margin-left: 2rem !important;
  }
  [margin-left--tablet="2.5"] {
    margin-left: 2.5rem !important;
  }
  [margin-left--tablet="3"] {
    margin-left: 3rem !important;
  }
  [margin-left--tablet="3.5"] {
    margin-left: 3.5rem !important;
  }
  [margin-left--tablet="4"] {
    margin-left: 4rem !important;
  }
  [margin-left--tablet="4.5"] {
    margin-left: 4.5rem !important;
  }
  [margin-left--tablet="5"] {
    margin-left: 5rem !important;
  }
  [margin-left--tablet="5.5"] {
    margin-left: 5.5rem !important;
  }
  [margin-left--tablet="6"] {
    margin-left: 6rem !important;
  }
  [margin-left--tablet="6.5"] {
    margin-left: 6.5rem !important;
  }
  [margin-left--tablet="7"] {
    margin-left: 7rem !important;
  }
  [margin-left--tablet="7.5"] {
    margin-left: 7.5rem !important;
  }
  [margin-left--tablet="8"] {
    margin-left: 8rem !important;
  }

  [margin-top--tablet="0.5"] {
    margin-top: 0.5rem !important;
  }
  [margin-top--tablet="1"] {
    margin-top: 1rem !important;
  }
  [margin-top--tablet="1.5"] {
    margin-top: 1.5rem !important;
  }
  [margin-top--tablet="2"] {
    margin-top: 2rem !important;
  }
  [margin-top--tablet="2.5"] {
    margin-top: 2.5rem !important;
  }
  [margin-top--tablet="3"] {
    margin-top: 3rem !important;
  }
  [margin-top--tablet="3.5"] {
    margin-top: 3.5rem !important;
  }
  [margin-top--tablet="4"] {
    margin-top: 4rem !important;
  }
  [margin-top--tablet="4.5"] {
    margin-top: 4.5rem !important;
  }
  [margin-top--tablet="5"] {
    margin-top: 5rem !important;
  }
  [margin-top--tablet="5.5"] {
    margin-top: 5.5rem !important;
  }
  [margin-top--tablet="6"] {
    margin-top: 6rem !important;
  }
  [margin-top--tablet="6.5"] {
    margin-top: 6.5rem !important;
  }
  [margin-top--tablet="7"] {
    margin-top: 7rem !important;
  }
  [margin-top--tablet="7.5"] {
    margin-top: 7.5rem !important;
  }
  [margin-top--tablet="8"] {
    margin-top: 8rem !important;
  }

  [margin-right--tablet="0.5"] {
    margin-right: 0.5rem !important;
  }
  [margin-right--tablet="1"] {
    margin-right: 1rem !important;
  }
  [margin-right--tablet="1.5"] {
    margin-right: 1.5rem !important;
  }
  [margin-right--tablet="2"] {
    margin-right: 2rem !important;
  }
  [margin-right--tablet="2.5"] {
    margin-right: 2.5rem !important;
  }
  [margin-right--tablet="3"] {
    margin-right: 3rem !important;
  }
  [margin-right--tablet="3.5"] {
    margin-right: 3.5rem !important;
  }
  [margin-right--tablet="4"] {
    margin-right: 4rem !important;
  }
  [margin-right--tablet="4.5"] {
    margin-right: 4.5rem !important;
  }
  [margin-right--tablet="5"] {
    margin-right: 5rem !important;
  }
  [margin-right--tablet="5.5"] {
    margin-right: 5.5rem !important;
  }
  [margin-right--tablet="6"] {
    margin-right: 6rem !important;
  }
  [margin-right--tablet="6.5"] {
    margin-right: 6.5rem !important;
  }
  [margin-right--tablet="7"] {
    margin-right: 7rem !important;
  }
  [margin-right--tablet="7.5"] {
    margin-right: 7.5rem !important;
  }
  [margin-right--tablet="8"] {
    margin-right: 8rem !important;
  }

  [margin-bottom--tablet="0.5"] {
    margin-bottom: 0.5rem !important;
  }
  [margin-bottom--tablet="1"] {
    margin-bottom: 1rem !important;
  }
  [margin-bottom--tablet="1.5"] {
    margin-bottom: 1.5rem !important;
  }
  [margin-bottom--tablet="2"] {
    margin-bottom: 2rem !important;
  }
  [margin-bottom--tablet="2.5"] {
    margin-bottom: 2.5rem !important;
  }
  [margin-bottom--tablet="3"] {
    margin-bottom: 3rem !important;
  }
  [margin-bottom--tablet="3.5"] {
    margin-bottom: 3.5rem !important;
  }
  [margin-bottom--tablet="4"] {
    margin-bottom: 4rem !important;
  }
  [margin-bottom--tablet="4.5"] {
    margin-bottom: 4.5rem !important;
  }
  [margin-bottom--tablet="5"] {
    margin-bottom: 5rem !important;
  }
  [margin-bottom--tablet="5.5"] {
    margin-bottom: 5.5rem !important;
  }
  [margin-bottom--tablet="6"] {
    margin-bottom: 6rem !important;
  }
  [margin-bottom--tablet="6.5"] {
    margin-bottom: 6.5rem !important;
  }
  [margin-bottom--tablet="7"] {
    margin-bottom: 7rem !important;
  }
  [margin-bottom--tablet="7.5"] {
    margin-bottom: 7.5rem !important;
  }
  [margin-bottom--tablet="8"] {
    margin-bottom: 8rem !important;
  }
}

/* Mobile large breakpoint */
@media screen and (max-width: 767px) {
  [margin-left--landscape="0.5"] {
    margin-left: 0.5rem !important;
  }
  [margin-left--landscape="1"] {
    margin-left: 1rem !important;
  }
  [margin-left--landscape="1.5"] {
    margin-left: 1.5rem !important;
  }
  [margin-left--landscape="2"] {
    margin-left: 2rem !important;
  }
  [margin-left--landscape="2.5"] {
    margin-left: 2.5rem !important;
  }
  [margin-left--landscape="3"] {
    margin-left: 3rem !important;
  }
  [margin-left--landscape="3.5"] {
    margin-left: 3.5rem !important;
  }
  [margin-left--landscape="4"] {
    margin-left: 4rem !important;
  }
  [margin-left--landscape="4.5"] {
    margin-left: 4.5rem !important;
  }
  [margin-left--landscape="5"] {
    margin-left: 5rem !important;
  }
  [margin-left--landscape="5.5"] {
    margin-left: 5.5rem !important;
  }
  [margin-left--landscape="6"] {
    margin-left: 6rem !important;
  }
  [margin-left--landscape="6.5"] {
    margin-left: 6.5rem !important;
  }
  [margin-left--landscape="7"] {
    margin-left: 7rem !important;
  }
  [margin-left--landscape="7.5"] {
    margin-left: 7.5rem !important;
  }
  [margin-left--landscape="8"] {
    margin-left: 8rem !important;
  }

  [margin-top--landscape="0.5"] {
    margin-top: 0.5rem !important;
  }
  [margin-top--landscape="1"] {
    margin-top: 1rem !important;
  }
  [margin-top--landscape="1.5"] {
    margin-top: 1.5rem !important;
  }
  [margin-top--landscape="2"] {
    margin-top: 2rem !important;
  }
  [margin-top--landscape="2.5"] {
    margin-top: 2.5rem !important;
  }
  [margin-top--landscape="3"] {
    margin-top: 3rem !important;
  }
  [margin-top--landscape="3.5"] {
    margin-top: 3.5rem !important;
  }
  [margin-top--landscape="4"] {
    margin-top: 4rem !important;
  }
  [margin-top--landscape="4.5"] {
    margin-top: 4.5rem !important;
  }
  [margin-top--landscape="5"] {
    margin-top: 5rem !important;
  }
  [margin-top--landscape="5.5"] {
    margin-top: 5.5rem !important;
  }
  [margin-top--landscape="6"] {
    margin-top: 6rem !important;
  }
  [margin-top--landscape="6.5"] {
    margin-top: 6.5rem !important;
  }
  [margin-top--landscape="7"] {
    margin-top: 7rem !important;
  }
  [margin-top--landscape="7.5"] {
    margin-top: 7.5rem !important;
  }
  [margin-top--landscape="8"] {
    margin-top: 8rem !important;
  }

  [margin-right--landscape="0.5"] {
    margin-right: 0.5rem !important;
  }
  [margin-right--landscape="1"] {
    margin-right: 1rem !important;
  }
  [margin-right--landscape="1.5"] {
    margin-right: 1.5rem !important;
  }
  [margin-right--landscape="2"] {
    margin-right: 2rem !important;
  }
  [margin-right--landscape="2.5"] {
    margin-right: 2.5rem !important;
  }
  [margin-right--landscape="3"] {
    margin-right: 3rem !important;
  }
  [margin-right--landscape="3.5"] {
    margin-right: 3.5rem !important;
  }
  [margin-right--landscape="4"] {
    margin-right: 4rem !important;
  }
  [margin-right--landscape="4.5"] {
    margin-right: 4.5rem !important;
  }
  [margin-right--landscape="5"] {
    margin-right: 5rem !important;
  }
  [margin-right--landscape="5.5"] {
    margin-right: 5.5rem !important;
  }
  [margin-right--landscape="6"] {
    margin-right: 6rem !important;
  }
  [margin-right--landscape="6.5"] {
    margin-right: 6.5rem !important;
  }
  [margin-right--landscape="7"] {
    margin-right: 7rem !important;
  }
  [margin-right--landscape="7.5"] {
    margin-right: 7.5rem !important;
  }
  [margin-right--landscape="8"] {
    margin-right: 8rem !important;
  }

  [margin-bottom--landscape="0.5"] {
    margin-bottom: 0.5rem !important;
  }
  [margin-bottom--landscape="1"] {
    margin-bottom: 1rem !important;
  }
  [margin-bottom--landscape="1.5"] {
    margin-bottom: 1.5rem !important;
  }
  [margin-bottom--landscape="2"] {
    margin-bottom: 2rem !important;
  }
  [margin-bottom--landscape="2.5"] {
    margin-bottom: 2.5rem !important;
  }
  [margin-bottom--landscape="3"] {
    margin-bottom: 3rem !important;
  }
  [margin-bottom--landscape="3.5"] {
    margin-bottom: 3.5rem !important;
  }
  [margin-bottom--landscape="4"] {
    margin-bottom: 4rem !important;
  }
  [margin-bottom--landscape="4.5"] {
    margin-bottom: 4.5rem !important;
  }
  [margin-bottom--landscape="5"] {
    margin-bottom: 5rem !important;
  }
  [margin-bottom--landscape="5.5"] {
    margin-bottom: 5.5rem !important;
  }
  [margin-bottom--landscape="6"] {
    margin-bottom: 6rem !important;
  }
  [margin-bottom--landscape="6.5"] {
    margin-bottom: 6.5rem !important;
  }
  [margin-bottom--landscape="7"] {
    margin-bottom: 7rem !important;
  }
  [margin-bottom--landscape="7.5"] {
    margin-bottom: 7.5rem !important;
  }
  [margin-bottom--landscape="8"] {
    margin-bottom: 8rem !important;
  }
}

/* Mobile small breakpoint */
@media screen and (max-width: 479px) {
  [margin-left--portrait="0.5"] {
    margin-left: 0.5rem !important;
  }
  [margin-left--portrait="1"] {
    margin-left: 1rem !important;
  }
  [margin-left--portrait="1.5"] {
    margin-left: 1.5rem !important;
  }
  [margin-left--portrait="2"] {
    margin-left: 2rem !important;
  }
  [margin-left--portrait="2.5"] {
    margin-left: 2.5rem !important;
  }
  [margin-left--portrait="3"] {
    margin-left: 3rem !important;
  }
  [margin-left--portrait="3.5"] {
    margin-left: 3.5rem !important;
  }
  [margin-left--portrait="4"] {
    margin-left: 4rem !important;
  }
  [margin-left--portrait="4.5"] {
    margin-left: 4.5rem !important;
  }
  [margin-left--portrait="5"] {
    margin-left: 5rem !important;
  }
  [margin-left--portrait="5.5"] {
    margin-left: 5.5rem !important;
  }
  [margin-left--portrait="6"] {
    margin-left: 6rem !important;
  }
  [margin-left--portrait="6.5"] {
    margin-left: 6.5rem !important;
  }
  [margin-left--portrait="7"] {
    margin-left: 7rem !important;
  }
  [margin-left--portrait="7.5"] {
    margin-left: 7.5rem !important;
  }
  [margin-left--portrait="8"] {
    margin-left: 8rem !important;
  }

  [margin-top--portrait="0.5"] {
    margin-top: 0.5rem !important;
  }
  [margin-top--portrait="1"] {
    margin-top: 1rem !important;
  }
  [margin-top--portrait="1.5"] {
    margin-top: 1.5rem !important;
  }
  [margin-top--portrait="2"] {
    margin-top: 2rem !important;
  }
  [margin-top--portrait="2.5"] {
    margin-top: 2.5rem !important;
  }
  [margin-top--portrait="3"] {
    margin-top: 3rem !important;
  }
  [margin-top--portrait="3.5"] {
    margin-top: 3.5rem !important;
  }
  [margin-top--portrait="4"] {
    margin-top: 4rem !important;
  }
  [margin-top--portrait="4.5"] {
    margin-top: 4.5rem !important;
  }
  [margin-top--portrait="5"] {
    margin-top: 5rem !important;
  }
  [margin-top--portrait="5.5"] {
    margin-top: 5.5rem !important;
  }
  [margin-top--portrait="6"] {
    margin-top: 6rem !important;
  }
  [margin-top--portrait="6.5"] {
    margin-top: 6.5rem !important;
  }
  [margin-top--portrait="7"] {
    margin-top: 7rem !important;
  }
  [margin-top--portrait="7.5"] {
    margin-top: 7.5rem !important;
  }
  [margin-top--portrait="8"] {
    margin-top: 8rem !important;
  }

  [margin-right--portrait="0.5"] {
    margin-right: 0.5rem !important;
  }
  [margin-right--portrait="1"] {
    margin-right: 1rem !important;
  }
  [margin-right--portrait="1.5"] {
    margin-right: 1.5rem !important;
  }
  [margin-right--portrait="2"] {
    margin-right: 2rem !important;
  }
  [margin-right--portrait="2.5"] {
    margin-right: 2.5rem !important;
  }
  [margin-right--portrait="3"] {
    margin-right: 3rem !important;
  }
  [margin-right--portrait="3.5"] {
    margin-right: 3.5rem !important;
  }
  [margin-right--portrait="4"] {
    margin-right: 4rem !important;
  }
  [margin-right--portrait="4.5"] {
    margin-right: 4.5rem !important;
  }
  [margin-right--portrait="5"] {
    margin-right: 5rem !important;
  }
  [margin-right--portrait="5.5"] {
    margin-right: 5.5rem !important;
  }
  [margin-right--portrait="6"] {
    margin-right: 6rem !important;
  }
  [margin-right--portrait="6.5"] {
    margin-right: 6.5rem !important;
  }
  [margin-right--portrait="7"] {
    margin-right: 7rem !important;
  }
  [margin-right--portrait="7.5"] {
    margin-right: 7.5rem !important;
  }
  [margin-right--portrait="8"] {
    margin-right: 8rem !important;
  }

  [margin-bottom--portrait="0.5"] {
    margin-bottom: 0.5rem !important;
  }
  [margin-bottom--portrait="1"] {
    margin-bottom: 1rem !important;
  }
  [margin-bottom--portrait="1.5"] {
    margin-bottom: 1.5rem !important;
  }
  [margin-bottom--portrait="2"] {
    margin-bottom: 2rem !important;
  }
  [margin-bottom--portrait="2.5"] {
    margin-bottom: 2.5rem !important;
  }
  [margin-bottom--portrait="3"] {
    margin-bottom: 3rem !important;
  }
  [margin-bottom--portrait="3.5"] {
    margin-bottom: 3.5rem !important;
  }
  [margin-bottom--portrait="4"] {
    margin-bottom: 4rem !important;
  }
  [margin-bottom--portrait="4.5"] {
    margin-bottom: 4.5rem !important;
  }
  [margin-bottom--portrait="5"] {
    margin-bottom: 5rem !important;
  }
  [margin-bottom--portrait="5.5"] {
    margin-bottom: 5.5rem !important;
  }
  [margin-bottom--portrait="6"] {
    margin-bottom: 6rem !important;
  }
  [margin-bottom--portrait="6.5"] {
    margin-bottom: 6.5rem !important;
  }
  [margin-bottom--portrait="7"] {
    margin-bottom: 7rem !important;
  }
  [margin-bottom--portrait="7.5"] {
    margin-bottom: 7.5rem !important;
  }
  [margin-bottom--portrait="8"] {
    margin-bottom: 8rem !important;
  }
}
