/* Global */
/*----------------------
  STYLING
----------------------*/
/* Clear default styling */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
label {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  text-wrap: inherit;
  margin-top: 0;
  margin-bottom: 0;
}

/* Font Rendering Optimization */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Selected text has custom background color */
::-moz-selection {
  /* Code for Firefox */
  color: #fefefe;
  background: #031d3c;
}

::selection {
  color: #fefefe;
  background: #031d3c;
}

/*----------------------
  WRAP
----------------------*/
[truncate] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*----------------------
  LINE CLAMP
----------------------*/
[line-clamp] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

[line-clamp],
[line-clamp="1"] {
  -webkit-line-clamp: 1;
}

[line-clamp="2"] {
  -webkit-line-clamp: 2;
}

[line-clamp="3"] {
  -webkit-line-clamp: 3;
}

[line-clamp="4"] {
  -webkit-line-clamp: 4;
}

[line-clamp="5"] {
  -webkit-line-clamp: 5;
}

[line-clamp="6"] {
  -webkit-line-clamp: 6;
}
