/* Link: General */
/*----------------------
  WEIGHT
----------------------*/
/* Regular */
[data-link-weight="Regular"] {
  font-weight: 400;
}

/* Semi Bold */
[data-link-weight="Semi Bold"] {
  font-weight: 600;
}

/*----------------------
  DIRECTION
----------------------*/
/* Default */
[data-link-direction="Horizontal"] {
  flex-direction: row;
}

/* Space Between */
[data-link-direction="Vertical"] {
  flex-direction: column;
}

/*----------------------
  TYPE
----------------------*/
/* Dark
----------------------*/
/* Enabled */
[data-link-type="Dark"] {
  color: var(--_color-tokens---content-brand--base);
}

[data-link-type="Dark"] .link--heading {
  color: var(--_color-tokens---content-brand--base);
}

[data-link-type="Dark"] .link--description {
  color: var(--_color-tokens---content-neutral--black);
}

[data-link-type="Dark"] .link--divider-line {
  background-color: var(--_color-tokens---border-brand--base);
}

[data-link-type="Dark"] .link--divider-track {
  background-color: var(--_color-tokens---border-neutral--dark);
}

/* Light
----------------------*/
/* Enabled */
[data-link-type="Light"] {
  color: var(--_color-tokens---content-neutral--white);
}

[data-link-type="Light"] .link--heading {
  color: var(--_color-tokens---content-neutral--white);
}

[data-link-type="Light"] .link--description {
  color: var(--_color-tokens---content-neutral--base);
}

[data-link-type="Light"] .link--divider-line {
  background-color: var(--_color-tokens---border-highlight--primary);
}

[data-link-type="Light"] .link--divider-track {
  background-color: var(--_color-tokens---bg-neutral--white);
}
