/* Hero */
/*----------------------
  MENU
----------------------*/
/* Hide menu in production */
.hero--menu-wf {
  display: none;
}

/* Show menu in Webflow editor */
.wf-design-mode .hero--menu-wf {
  display: block;
}

/*----------------------
  MARQUEE
----------------------*/
/* Desktop: bottom padding for Marquee section */
[data-hero-spacing="Marquee"] .hero--section.is--cards {
  padding-bottom: clamp(2.5rem, 5vh, 5rem);
}

/* Mobile */
@media screen and (max-width: 991px) {
  [data-hero-spacing="Marquee"] .hero--section.is--cards {
    padding-bottom: 0;
  }
}
