/* Link: Product */
/* Hover Animation */

#link--product {
  transition: color 200ms ease-out, background-color 200ms ease-out,
    border 200ms ease-out;
}

/* Hover state */
.link--product-content:hover #link--product {
  color: var(--_color-tokens---content-neutral--white);
  background-color: var(--_color-tokens---bg-brand--dark);
  border: 0;
}

/* Active state */
.link--product-content:active #link--product {
  background-color: var(--_color-tokens---bg-neutral--black);
}
