/* Global */
/*----------------------
  STYLING
----------------------*/
/* Font Rendering Optimization */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Selected text has custom background color */
::-moz-selection {
  /* Code for Firefox */
  color: var(--_color-tokens---content-neutral--white);
  background: var(--_color-tokens---bg-brand--base);
}

::selection {
  color: var(--_color-tokens---content-neutral--white);
  background: var(--_color-tokens---bg-brand--base);
}

/*----------------------
  WRAP
----------------------*/
[truncate] {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/*----------------------
  LINE CLAMP
----------------------*/

[line-clamp] {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
[line-clamp],
[line-clamp='1'] {
  -webkit-line-clamp: 1;
}
[line-clamp='2'] {
  -webkit-line-clamp: 2;
}
[line-clamp='3'] {
  -webkit-line-clamp: 3;
}
[line-clamp='4'] {
  -webkit-line-clamp: 4;
}
[line-clamp='5'] {
  -webkit-line-clamp: 5;
}
[line-clamp='6'] {
  -webkit-line-clamp: 6;
}

/* Caption */
/*----------------------
  SIZE
----------------------*/
/* Large */

[data-caption-size='Large'] .caption {
  font-size: var(--_typography---size--large);
}

/* Base */
[data-caption-size='Base'] .caption {
  font-size: var(--_typography---size--base);
}

/*----------------------
  COLOR
----------------------*/
/* Dark */
[data-caption-Type='Dark'] .caption {
  color: var(--_color-tokens---content-brand--base);
}
[data-caption-Type='Dark'] .caption--divider {
  background-color: var(--_color-tokens---border-brand--base);
}

/* Light */
[data-caption-Type='Light'] .caption {
  color: var(--_color-tokens---content-neutral--white);
}
[data-caption-Type='Light'] .caption--divider {
  background-color: var(--_color-tokens---border-neutral--white);
}

/* Dynamic */
@media screen and (min-width: 992px) {
  [data-caption-Type='Dynamic'] .caption {
    color: var(--_color-tokens---content-brand--base);
  }
  [data-caption-Type='Dynamic'] .caption--divider {
    background-color: var(--_color-tokens---border-brand--base);
}

@media screen and (max-width: 991px) {
  [data-caption-Type='Dynamic'] .caption {
    color: var(--_color-tokens---content-neutral--white);
  }
  [data-caption-Type='Dynamic'] .caption--divider {
    background-color: var(--_color-tokens---border-neutral--white);
}